body {
    font-size: 2rem;
    width: 800px;
    margin: 0 auto;
    min-height: 100vh;
    background-color: rgb(245, 255, 245);
    width: 900px;
    display: grid;

}
main {
    text-align: center;
}

img {
    width: 40%;
}